
SoftUni-Program/Entity Framework Core/Entity Framework Relations/DB Students/P01_StudentSystem.Data.Models/obj/Debug/netcoreapp3.1/P01_StudentSystem.Data.Models.GeneratedMSBuildEditorConfig.editorconfig
